<nav class="cookbook-navbar">
  <div class="navbar-brand">
    <i class="fa-solid fa-book-open"></i>
    <span>Mein Kochbuch</span>
  </div>

  <div class="navbar-links">
    <a
      routerLink="/recipes"
      routerLinkActive="active"
      class="nav-link savory-link"
    >
      <i class="fa-solid fa-utensils"></i>
      Herzhafte Gerichte
    </a>

    <a
      routerLink="/desserts"
      routerLinkActive="active"
      class="nav-link dessert-link"
    >
      <i class="fa-solid fa-cake-candles"></i>
      Desserts
    </a>
  </div>
</nav>
